.ig-dl-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 1;
	border: 0;
	border-radius: 50%;
	background-color: rgba(43, 48, 54, .5);
	cursor: pointer;
	z-index: 1;
}

.ig-dl-btn--highlights {
	top: 80px;
	left: 10px;
	transform: none;
}

.ig-dl-btn--post,
.ig-dl-btn--reels {
	top: 10px;
	left: 10px;
	transform: none;
}

.ig-dl-btn:hover {
	background: rgba(43, 48, 54, .85);
}

.ig-dl-btn svg {
	width: 48px;
	height: 48px;
}